body {
  font-family: Arial;
  text-align: center;
  background: #0f172a;
  color: white;
}

button {
  padding: 12px 20px;
  margin: 10px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
}
